{% extends "layout.twig" %}

{% block content %}
    <h1>Abstimmen</h1>
    {% if films %}
        <form method="post" action="/stimmen" id="votingForm">
            <table class="voting">
            {% for film in films %}
                <tr>
                    <td>
                        {% if film.type == 'vimeo' %}
                            <iframe src="http://player.vimeo.com/video/{{ film.clip_id }}?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0"
                                    width="300" height="170" frameborder="0"></iframe>
                        {% elseif film.type == 'youtube' %}
                            <iframe width="300" height="250"
                                    src="http://www.youtube.com/embed/{{ film.clip_id }}"
                                    frameborder="0" allowfullscreen></iframe>
                        {% elseif film.type == 'facebook' %}
                            <object width="300" height="230" >
                                <param name="allowfullscreen" value="true" />
                                <param name="allowscriptaccess" value="always" />
                                <param name="movie" value="http://www.facebook.com/v/{{ film.clip_id }}" />
                                <embed src="http://www.facebook.com/v/{{ film.clip_id }}" type="application/x-shockwave-flash"
                                allowscriptaccess="always" allowfullscreen="true" width="300" height="230">
                                </embed>
                            </object>
                        {% else %}
                            Dieser Film kann nicht direkt angezeigt werden.
                            Er kann auch <a href="{{ film.direct_url }}">hier</a> angeschaut werden.
                        {% endif %}
                    </td>
                    <td>
                        <div class="title">{{ film.title }}</div>
                        <div class="name">{{ film.name_1 }}</div>
                        <div class="name">{{ film.name_2 }}</div>
                    </td>
                    <td class="radio">
                        <input type="radio" name="film" value="{{ film.id }}" />
                        <label for="film">Diesen Film wählen</label>
                    </td>
                </tr>
            {% endfor %}
            </table>
            <div class="sendVote">
                <div id="selectError" class="error hidden">Bitte wähle einen Film aus</div>
                <a id="voteBtn" href="#">Abstimmen</a>
                <div class="clear"></div>
            </div>
        </form>
    {% else %}
        <div>Keine Filme zum abstimmen.</div>
    {% endif %}

    <script type="text/javascript" src="js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="js/voting.js"></script>
{% endblock content %}
